<% @page_title = "Edit image: #{@image.name}" %>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="image edit">
  <h2>Update Image</h2>

  <%= form_for(:image, :url => {:action => 'update', :id => @image.id}) do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Update Image") %>
    </div>
    
  <% end %>
</div>
