<% @page_title = "Create Image" %>

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>

<div class="image new">
  <h2>Create Image</h2>

  <%= form_for(:section, :url => {:action => 'create'}) do |f| %>
  
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
    <div class="form-buttons">
      <%= submit_tag("Create Image") %>
    </div>
    
  <% end %>
</div>